body {
  position: relative;
  background: #f9f0ea;
  font-family: Open Sans, sans-serif;
}

.ingredientList {
  margin: 20px auto;
  }

.recipeList {
  margin: 20px auto;
}

form {
  text-align: center;
}

h1 {
  text-align: center;
  color: #ff584c;
}

h2 {
  text-align: center;
}

h4 {
  display: inline;
}

li {
  margin: 5px 5px;
}
