body {
  position: relative;
  background: #d3d3d3;
  font-family: Open Sans, sans-serif;
}

.ingredientList {
  margin: 20px auto;
  border: solid black 1.5px;
  border-radius: 25px;
  }

.recipeList {
  margin: 20px auto;
  border: solid black 1.5px;
  border-radius: 25px;
}

.name {
  margin-left: 5px;
}

form {
  text-align: center;
}

h1 {
  text-align: center;
  color: #ff584c;
}

h2 {
  text-align: center;
}

h4 {
  display: inline;
}

li {
  list-style: none;
  margin: 5px 5px;
}

li li {
  list-style: square inside;
}
